<ul class="list-group">
  <app-machine-item *ngFor="let machine of machines" [machine]="machine"></app-machine-item>
</ul>

<button class="btn btn-success mt-3" (click)="onSwitchOnAll()">Allumer tous mes appareils</button>
<button class="btn btn-danger mt-3 ml-3" (click)="onSwitchOffAll()">Eteindre tous mes appareils</button>
