<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Lab</a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="machines">Equipements</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn"
                (click)="onSignInSignOut()"
                [ngClass]="{
                  'btn-outline-success': getReverseSign() === 'Connexion',
                  'btn-outline-danger': getReverseSign() === 'Déconnexion'
                }">
          {{ getReverseSign() }}
        </button>
      </li>
    </ul>
  </div>
</nav>
