<li class="list-group-item"
    [ngClass]="{'list-group-item-success': machine.status === 'allumé', 'list-group-item-danger': machine.status === 'éteint'}">
  <h4><a routerLink="/machine/{{machine.id}}">{{ machine.name }}</a></h4>
  <hr>
  <div class="d-flex">
    <span class="p-2">Statut actuel : {{ machine.status }}</span>
    <button class="btn ml-auto"
            (click)="onSwitchOnOff()"
            [ngClass]="{'btn-danger': machine.status === 'allumé', 'btn-success': machine.status === 'éteint'}">
      {{ getReverseLabel(machine) }}
    </button>
  </div>
</li>
