<button routerLink="/machines" type="button" class="btn btn-dark">Retour à la liste des équipements</button>

<div class="card mt-4">
  <div class="card-body">
    <h4>{{ machine.name }}</h4>
    <hr>
    <div class="d-flex">
      <p class="text-center">Statut actuel : {{ machine.status }}</p>
      <button class="btn ml-auto"
              (click)="onSwitchOnOff()"
              [ngClass]="{'btn-danger': machine.status === 'allumé', 'btn-success': machine.status === 'éteint'}">
        {{ getReverseLabel(machine) }}
      </button>
    </div>
  </div>
</div>
