<app-navbar></app-navbar>
  <div *ngIf="!getAuthStatus()" class="container mt-4">
    <p>Connecter vous pour accèder à vos équipements</p>
  </div>
<!-- <p [hidden]="isAuth">Vous êtes connecté, accèder à vos équipements</p>-->
<app-machine-view></app-machine-view>
